
.envrc
.DS_Store

# editor
.vscode/
.idea/
.fleet/

# vim
.vim/
.config/nvim/hack/
Session.*
.netrwhist

# python
.venv/
.python-version
localrc.lua
*.key
*egg-info

# misc
tags*
querious/
hack-*
.tmux/
.config/karabiner/assets/
.config/karabiner/automatic_backups/

pyrightconfig.json
