
.envrc
.DS_Store

# editor
.vscode/
.idea/

# vim
.vim/
.config/nvim/hack/
Session.vim
.netrwhist

# python
.venv/
.python-version
localrc.lua
*.key
*egg-info

# misc
tags*
querious/
hack-*
.config/karabiner/assets/
.config/karabiner/automatic_backups/
