let mapleader = " "

set hlsearch
set incsearch
set ignorecase smartcase
set relativenumber
set undolevels=1000
set history=1000
set showmode

set relativenumber
set clipboard=unnamed

vnoremap < <gv
vnoremap > >gv

nmap <leader>no :nohlsearch<CR>

" builtin emulated plugins
set surround
set commentary
