let mapleader = " "

set hlsearch
set incsearch
set ignorecase smartcase
set relativenumber
set undolevels=1000
set history=1000
set showmode
set clipboard=unnamed

vnoremap < <gv
vnoremap > >gv

nmap <leader>no :nohlsearch<CR>

" builtin emulated plugins
set surround
set commentary
set highlightedyank

" custom maps
nmap ]c :action VcsShowNextChangeMarker<CR>
nmap [c :action VcsShowPrevChangeMarker<CR>
nmap <leader>hp :action VcsShowCurrentChangeMarker<CR>
nmap <leader>hu :action Vcs.RollbackChangedLines<CR>
nmap <leader>gs :action Vcs.Show.Local.Changes<CR>
map <leader>gh :action Github.Open.In.Browser<CR>
